/* Oswald */
@font-face {
	font-family: 'Oswald';
	src: url('Oswald-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Oswald';
	src: url('Oswald-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Oswald';
	src: url('Oswald-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

/* Barlow */
@font-face {
	font-family: 'Barlow';
	src: url('Barlow-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Barlow';
	src: url('Barlow-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Barlow';
	src: url('Barlow-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

/* Runes */
@font-face {
	font-family: 'AngloSaxon Runes';
	src: url('AngloSaxonRunes.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Anchrish Runes';
	src: url('AnchrishRunes.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
