@import url(fonts/font-imports.css);

:root {
	--color-main: #00f4ff;
	--color-text: #ebebeb;
	--color-white: #fdfcfc;
	--color-background: #172526;
	--color-dark-accent: #273132;

	--title-large: 700 2.5rem Oswald;
	--title-medium: 600 1.5rem Oswald;
	--title-small: 500 0.875rem Oswald;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: transparent;
}

body {
	min-height: 100vh;
	color: var(--color-text);
	background: var(--color-background);
	transition: color 0.5s, background-color 0.5s;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
