@import url(fonts/font-imports.css);

:root {
	--color-main: #00f4ff;
	--color-text: #ebebeb;
	--color-white: #fcfdfd;
	--color-background: #172526;
	--color-dark-accent: #273132;

	--title-large: 700 2.5rem Oswald;
	--title-medium: 600 1.5rem Oswald;
	--title-small: 500 0.875rem Oswald;

	--body-large: 700 1.5rem Barlow;
	--body-medium: 500 1.25rem/150% Barlow;
	--body-small: 400 1rem/150% Barlow;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: transparent;
	text-decoration: none;
}

body {
	color: var(--color-text);
	font-family: 'Barlow';
	background: var(--color-background);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
