@import './base.css';

#app {
	margin: 3rem auto;
	width: min(544px, 85vw);
	font-weight: normal;
}

#app main section {
	margin-bottom: 3rem;
}

@media (min-width: 1024px) {
	#app {
		width: min(1470px, 80vw);
	}
	#app main section {
		margin-bottom: 4rem;
	}
}
